<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>ITEM: <%= product %></h1>
    <h2>Author: <%= author %></h2>
    <img src="/images/<%= myImage%>" height="400px">

    <a href="./">Back to Home page</a>
</body>
</html>
